@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme('colors.neutral.800');
  --background: theme('colors.stone.100');
}

body {
  color: var(--foreground);
  background: var(--background);
}
