@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .p-layout {
    @apply p-8 lg:p-4;
  }
}

body {
  min-width: theme('screens.minWidth');
  color: theme('colors.neutral.800');
  background: theme('colors.stone.100');
}
